<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./header.css" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/b2b9ab5ba1.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/20c5629a29.js"
      crossorigin="anonymous"
    ></script>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="fixed-top">
      <nav class="navbar navbar-expand-lg bg-color fixed nav-elements-large">
        <div class="container-fluid">
          <div
            class="navbar-brand d-flex"
            style="gap: 10px; align-items: center; color: #fff"
          >
            <a href="../../index.html">
              <img
                href="/"
                style="height: 5rem; width: fit-content"
                src="../../images/college logo/college_logo.PNG"
                alt="Your Image"
                height="100"
                width="100"
              />
            </a>
          </div>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="#navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse"
            style="flex-grow: 0"
            id="navbarNavDropdown"
          >
            <ul class="navbar-nav">
              <li class="nav-item hover-overline-animation">
                <a
                  class="nav-link"
                  href="../../index.html"
                  style="color: #fff; font-weight: 500"
                  >Home</a
                >
              </li>
              <li class="nav-item hover-overline-animation">
                <div class="dropdown show">
                  <a
                    class="btn w-100 dropdown-toggle pt-2"
                    style="border-style: none; color: #fff; font-weight: 500"
                    href="#"
                    role="button"
                    id="dropdownMenuLink"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Administration
                  </a>
                  <div
                    class="dropdown-menu w-100 p-2"
                    style="width: fit-content !important"
                    aria-labelledby="dropdownMenuLink"
                  >
                    <a
                      class="dropdown-item dept-dropdown-items"
                      id="dropdownElement"
                      href="../admin/maintechdirector.html"
                      >Director-Technical</a
                    >
                    <a
                      class="dropdown-item dept-dropdown-items"
                      href="../admin/principal.html"
                      >Principal</a
                    >
                    <a
                      class="dropdown-item dept-dropdown-items"
                      href="../admin/ourdeans.html"
                      >Deans</a
                    >
                    <a
                      class="dropdown-item dept-dropdown-items"
                      href="../admin/departmentheads.html"
                      >Head of the Departments</a
                    >
                  </div>
                </div>
              </li>
              <li class="nav-item hover-overline-animation">
                <a
                  class="nav-link"
                  href="../admissions.html"
                  style="color: #fff; font-weight: 500"
                >
                  <div class="text-center">Admissions</div>
                </a>
              </li>
              <li class="nav-item hover-overline-animation">
                <div class="dropdown show">
                  <a
                    class="btn btn-white w-100 dropdown-toggle pt-2"
                    style="border-style: none; font-weight: 500; color: #fff"
                    href="#"
                    role="button"
                    id="dropdownMenuLink"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Departments
                  </a>

                  <div
                    class="dropdown-menu w-100 p-2"
                    style="min-width: 210%; max-width: inherit; max-height: 300px; overflow-y: auto; position: absolute; z-index: 1050; background-color: white; border: 1px solid grey; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);"
                    aria-labelledby="dropdownMenuLink"
                  >
                    <a
                      class="dropdown-item dept-dropdown-items"
                      style="font-weight: 400;text-decoration: none; display: block;padding:5px !important;font-size: 0.9rem;"
                      href="./cse.html"
                    >
                      <div>Computer Science & Engineering</div>
                    </a>
                    <a
                      class="dropdown-item dept-dropdown-items"
                      style="font-weight: 400;text-decoration: none; display: block; padding:5px !important;font-size: 0.9rem;"

                      href="./cst.html"
                    >
                      <div>Computer Science & Technology</div>
                    </a>
                    <a
                      class="dropdown-item dept-dropdown-items"
                      style="font-weight: 400;text-decoration: none; display: block; padding:5px !important;font-size: 0.9rem;"

                      href="./cai.html"
                      >Computer Science & Engineering(AI)</a
                    >
                    <a
                    class="dropdown-item dept-dropdown-items"
                    style="font-weight: 400;text-decoration: none; display: block;padding:5px !important; font-size: 0.9rem;"
                    href="./ds.html"
                    >Computer Science & Engineering(DS)</a
                  >
                    <a
                      class="dropdown-item dept-dropdown-items"
                      style="font-weight: 400;text-decoration: none; display: block; padding:5px !important; font-size: 0.9rem;"

                      href="./aiml.html"
                    >
                      <div>
                        Artificial Intelligence & Machine Learning
                      </div>
                    </a>
                  
                    <a
                      class="dropdown-item dept-dropdown-items"
                      style="font-weight: 400;text-decoration: none; display: block;padding:5px !important;font-size: 0.9rem;"

                      href="./ece.html"
                    >
                      <div>Electronics & Communication Engineering</div>
                    </a>
                    <a
                      class="dropdown-item dept-dropdown-items"
                      style="font-weight: 400;text-decoration: none; display: block; padding:5px !important; font-size: 0.9rem;"

                      href="./ect.html"
                    >
                      <div>Electronics & Communication Technology</div>
                    </a>
                    <a
                      class="dropdown-item dept-dropdown-items"
                      style="font-weight: 400;text-decoration: none; display: block; padding:5px !important; font-size: 0.9rem;"

                      href="./eee.html"
                    >
                      <div>Electrical & Electronic Engineering</div>
                    </a>
                    <a
                      class="dropdown-item dept-dropdown-items"
                      style="font-weight: 400;text-decoration: none; display: block; padding:5px !important; font-size: 0.9rem;"

                      href="./mech.html"
                      >Mechanical Engineering</a
                    >
                    <a
                      class="dropdown-item dept-dropdown-items"
                      style="font-weight: 400;text-decoration: none; display: block;padding:5px !important;font-size: 0.9rem;"

                      href="./civil.html"
                      >Civil Engineering</a
                    >
                    <a
                      class="dropdown-item dept-dropdown-items"
                      style="font-weight: 400;text-decoration: none; display: block;padding:5px !important;font-size: 0.9rem;"

                      href="./bsh.html"
                    >
                      <div>Basic Science & Humanities</div>
                    </a>
                    <a
                      class="dropdown-item dept-dropdown-items"
                      style="font-weight: 400;text-decoration: none; display: block;padding:5px !important;font-size: 0.9rem;"

                      href="./mba.html"
                    >
                      <div>Masters in Business Administration</div>
                    </a>
                  </div>
                </div>
              </li>
              <li class="nav-item hover-overline-animation">
                <a
                  class="nav-link"
                  href="../academics.html"
                  style="color: #fff; font-weight: 500"
                >
                  <div class="text-center">Academics</div>
                </a>
              </li>
              <li class="nav-item hover-overline-animation">
                <a
                  class="nav-link"
                  href="../placements.html"
                  style="color: #fff; font-weight: 500"
                  >Placements</a
                >
              </li>
              <li class="nav-item dropdown d-none">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  style="color: #fff"
                >
                  Dropdown link
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div
        class="second2-navbar-large nav-elements-large d-flex flex-row justify-content-center shadow"
        id="second-large-navbar"
      >
        <div
          class="second2-navbar-large-contents text-center d-flex flex-row justify-content-center"
        >
          <a
            href="../V_Grivence.html"
            class="m-2 hover-underline-animation"
            id="nav-bar2-text"
            style="text-decoration: none !important; color: black"
            >V Grievance</a
          >
          <a
            href="../NAAC.html"
            class="m-2 hover-underline-animation"
            id="nav-bar2-text2"
            style="text-decoration: none !important; color: black"
          >
            NAAC
          </a>

          <a
            href="../r&d.html"
            class="m-2 hover-underline-animation"
            id="nav-bar2-text4"
            style="text-decoration: none !important; color: black"
            >R & D</a
          >
          <a
            href="../mandates.html"
            class="m-2 hover-underline-animation"
            id="nav-bar2-text5"
            style="text-decoration: none !important; color: black"
            >Mandates</a
          >
          <a
            href="../category-b.html"
            class="m-2 hover-underline-animation"
            id="nav-bar2-text6"
            style="text-decoration: none !important; color: black"
            >Category B</a
          >
          <a
            href="../campusLife.html"
            class="m-2 hover-underline-animation"
            id="nav-bar2-text6"
            style="text-decoration: none !important; color: black"
            >Campus Life</a
          >
          <a>
            <div class="dropdown show hover-underline-animation pt-2">
              <a
                class="m-2 w-100 dropdown-toggle pt-2"
                style="text-decoration: none !important; color: black"
                href="#"
                role="button"
                id="nav-bar2-text7"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                UGC
              </a>
              <div
                class="dropdown-menu w-100 p-2"
                style="width: fit-content !important"
                aria-labelledby="dropdownMenuLink"
              >
                <a
                  class="dropdown-item dept-dropdown-items"
                  href="http://srivasaviengg.ac.in/uploads/nirf_files/SRI%20VASAVI%20ENGINEERING%20COLLEGE20230103%20NIRF%20OVERALL.pdf"
                  >Board Of Governance</a
                >
                <a
                  class="dropdown-item dept-dropdown-items"
                  href="http://srivasaviengg.ac.in/uploads/nirf_files/SRI%20VASAVI%20ENGINEERING%20COLLEGE20230103%20NIRF%20Engg.pdf"
                  >Academic Council</a
                >
                <a
                  class="dropdown-item dept-dropdown-items"
                  href="http://srivasaviengg.ac.in/uploads/List%20of%20Board%20of%20Studies_2021_22.pdf"
                  >Board of Studies</a
                >
                <a
                  class="dropdown-item dept-dropdown-items"
                  href="http://srivasaviengg.ac.in/Finance_Committee_2021_2022.png"
                  >Finance Committee</a
                >
                <a
                  class="dropdown-item dept-dropdown-items"
                  href="http://srivasaviengg.ac.in/uploads/iqac_members_2021_2022.png"
                  >IQAC</a
                >
                <a
                  class="dropdown-item dept-dropdown-items"
                  href="http://srivasaviengg.ac.in/uploads/College%20Level%20Committees%202021-22.pdf"
                  >Non Statustory Committe</a
                >
                <a
                  class="dropdown-item dept-dropdown-items"
                  href="http://srivasaviengg.ac.in/uploads/fee.png"
                  >Fee Structure</a
                >
                <a
                  class="dropdown-item dept-dropdown-items"
                  href="http://srivasaviengg.ac.in/uploads/Undertaking_2021_2022.jpg"
                  >Undertaking</a
                >
              </div>
            </div>
          </a>
          <a>
            <div class="dropdown show hover-underline-animation pt-2">
              <a
                class="m-2 w-100 dropdown-toggle pt-2"
                style="text-decoration: none !important; color: black"
                href="#"
                role="button"
                id="nav-bar2-text7"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                NIRF
              </a>
              <div
                class="dropdown-menu w-100 p-2"
                style="width: fit-content !important"
                aria-labelledby="dropdownMenuLink"
              >
                <a
                  class="dropdown-item dept-dropdown-items"
                  href="https://srivasaviengg.ac.in/uploads/nirf_files/NIRF%202024%20Overall%2030-01-2024.pdf"
                  >SVEC-Overall Category NIRF</a
                >
                <a
                  class="dropdown-item dept-dropdown-items"
                  href="https://srivasaviengg.ac.in/uploads/nirf_files/NIRF%202024%20Engg%2029-01-2024.pdf"
                  >SVEC-Engineering Category NIRF</a
                >
              </div>
            </div>
          </a>
          <a>
            <div class="dropdown show hover-underline-animation pt-2">
              <a
                class="m-2 w-100 dropdown-toggle pt-2"
                style="text-decoration: none !important; color: black"
                href="#"
                role="button"
                id="nav-bar2-text7"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Other Links
              </a>
              <ul
                class="dropdown-menu w-100 p-2"
                style="width: fit-content !important"
              >
              <li>
                <a
                  class="dropdown-item dept-dropdown-items dropdown-item-content"
                  href="../facultyAchivements.html"
                  >Faculty Achievements</a
                >
              </li>
                <li>
                  <a
                    class="dropdown-item dept-dropdown-items dropdown-item-content"
                    href="https://srivasaviengg.ac.in/uploads/Anti%20Ragging%20Committee%202023-4.pdf"
                    >Anti Ragging Committe</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item dept-dropdown-items dropdown-item-content"
                    href="https://srivasaviengg.ac.in/uploads/Internal%20Compliants%20Committee%202023-24.pdf"
                    >Internal Complaints Committe</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item dept-dropdown-items dropdown-item-content"
                    href="https://srivasaviengg.ac.in/uploads/SC%20ST%20Welfare%20Committee%202023-24.pdf"
                    >SC/ST Welfare Committe</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item dept-dropdown-items dropdown-item-content"
                    href="https://srivasaviengg.ac.in/uploads/INSTITUTION-INDUSTRY%20CELL%202023-24.pdf"
                    >Institute Industry Cell</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item dept-dropdown-items dropdown-item-content"
                    href="https://srivasaviengg.ac.in/uploads/College%20Level%20Committees%20Details.pdf"
                    >Other Important Committe</a
                  >
                </li>
                <!-- <li><a class="dropdown-item dept-dropdown-items dropdown-item-content" href="#">BOS Awards</a></li> -->
                <li>
                  <a
                    class="dropdown-item dept-dropdown-items dropdown-item-content"
                    href="../alumni_engagement.html"
                    >Alumni Engagement</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item dept-dropdown-items dropdown-item-content"
                    href="https://entrepreneurialquest.netlify.app"
                    >Entrepreneurial Quest</a
                  >
                </li>
              </ul>
            </div>
          </a>
          <a
            href="../about_us.html"
            class="m-2 hover-underline-animation"
            id="nav-bar2-text3"
            style="text-decoration: none !important; color: black"
            >About Us</a
          >
        </div>
      </div>
      <div
        class="second2-navbar-large nav-elements-large d-flex flex-row justify-content-center"
        id="codeNavbar"
      >
        <div
          class="second2-navbar-large-contents text-center d-flex flex-row justify-content-center"
        >
          <a
            class="m-2 hover-underline-animation"
            id="codeTest"
            style="text-decoration: none !important; color: black"
            ><div class="" style="text-align: center">
              <p style="margin-bottom: 0">
                EAPCET/ECET/ICET/PGCET/POLYCET code:
                <span style="font-weight: bold">VSVT</span>
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="nav-elements-small fixed-top" id="smallMenuItems">
      <nav class="small-navbar p-1 pb-2">
        <div class="d-flex flex-row">
          <a href="../../index.html">
            <img
              src="../../images/college logo/college_logo.PNG"
              class="logo-image mt-2"
            />
          </a>
        </div>
        <button class="small-navbar-nav-button mt-2" id="button">
          <i class="fa-solid fa-bars" id="changeItem"></i>
        </button>
      </nav>
      <div class="small-navbar-menu-navbar bg-white" id="menuItems">
        <div class="container-fluid text-center" style="border: 1px solid grey">
          <div class="row text-center" style="border: 1px solid grey">
            <div
              class="col-6 col-md-4 text-center"
              style="border: 1px solid grey; box-sizing: border-box"
            >
              <div class="small-navbar-nav-item p-2">
                <a
                  class="small-navbar-items-last-div-anchor active"
                  aria-current="page"
                  href="../../index.html"
                  style="color: #000000; font-weight: bold !important"
                  >Home</a
                >
              </div>
            </div>
            <div
              class="col-6 col-md-4 text-center"
              style="border: 1px solid grey; box-sizing: border-box"
            >
              <div class="dropdown show">
                <a
                  class="btn w-100 dropdown-toggle text-center"
                  style="border-style: none; font-weight: bold"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Administration
                </a>

                <div
                  class="dropdown-menu p-1 text-center"
                  aria-labelledby="dropdownMenuLink"
                  style="min-width: 100%; max-width: inherit"
                >
                  <a
                    class="p-2 dropdown-item dept-dropdown-items drop w-100 text-justify d-flex flex-row justify-content-center"
                    href="../admin/maintechdirector.html"
                    >Director-Technical
                  </a>
                  <a
                    class="p-2 dropdown-item dept-dropdown-items drop w-100 text-justify d-flex flex-row justify-content-center"
                    href="../admin/principal.html"
                    >Principal</a
                  >
                  <a
                    class="p-2 dropdown-item dept-dropdown-items drop w-100 text-justify d-flex flex-row justify-content-center"
                    href="../admin/ourdeans.html"
                    >Deans</a
                  >
                  <a
                    class="p-2 dropdown-item dept-dropdown-items drop w-100 text-justify d-flex flex-row justify-content-center"
                    href="../admin/departmentheads.html"
                    >Head of the Departments</a
                  >
                </div>
              </div>
            </div>
            <div
              class="col-6 col-md-4 text-center"
              style="border: 1px solid grey; box-sizing: border-box"
            >
              <div class="small-navbar-nav-item p-2">
                <a
                  class="small-navbar-items-last-div-anchor active"
                  aria-current="page"
                  href="../admissions.html"
                  style="color: #000000; font-weight: bold !important"
                  >Admissions</a
                >
              </div>
            </div>
            <div
            class="col-6 col-md-4 text-center"
            style="border: 1px solid grey; box-sizing: border-box;"

          >
            <div class="dropdown show">
              <a
                class="btn w-100 dropdown-toggle text-center"
                style="border-style: none; font-weight: bold"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Departments
              </a>

              <div
                class="dropdown-menu p-1 text-center"
                aria-labelledby="dropdownMenuLink"
              style="min-width: 100%; max-width: inherit; max-height: 300px; overflow-y: auto; position: absolute; z-index: 1050; background-color: white; border: 1px solid grey; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);"
              >
                <a
                class="dept-dropdown-items drop"
                href="./cse.html"
                style="margin:0px !important;font-weight: 400 !important;text-decoration: none; display: block; padding: 8px 0 !important; font-size: 0.9rem;"
               
                  >Computer Science Engineering
                </a>
                <a
                class="dept-dropdown-items drop"
                href="./cst.html"
                style="margin:0px !important;font-weight: 400 !important;text-decoration: none; display: block; padding: 8px 0 !important; font-size: 0.9rem;"

                  >Computer Science & Technology</a
                >
                <a
                class="dept-dropdown-items drop"
                href="./cai.html"
                style="margin:0px !important;font-weight: 400 !important;text-decoration: none; display: block; padding: 8px 0 !important; font-size: 0.9rem;"

                  >Computer Science & Engineering (AI)</a
                >
                <a
                class="dept-dropdown-items drop"
                href="./ds.html"
                style="margin:0px !important;font-weight: 400 !important;text-decoration: none; display: block; padding: 8px 0 !important; font-size: 0.9rem;"

                  >Computer Science & Engineering (DS)</a
                >
                <a
                class="dept-dropdown-items drop"
                href="./aiml.html"
                style="margin:0px !important;font-weight: 400 !important;text-decoration: none; display: block; padding: 8px 0 !important; font-size: 0.9rem;"

                  >Artificial Intelligence & Machine Learning</a
                >
                <a
                class="dept-dropdown-items drop"
                href="./ece.html"
                style="margin:0px !important;font-weight: 400 !important;text-decoration: none; display: block; padding: 8px 0 !important; font-size: 0.9rem;"

                  >Electronics & Communication Engineering</a
                >
                <a
                class="dept-dropdown-items drop"
                href="./ect.html"
                style="margin:0px !important;font-weight: 400 !important;text-decoration: none; display: block; padding: 8px 0 !important; font-size: 0.9rem;"

                  >Electronics & Communication Technology</a
                >
                <a
                class="dept-dropdown-items drop"
                href="./eee.html"
                style="margin:0px !important;font-weight: 400 !important;text-decoration: none; display: block; padding: 8px 0 !important; font-size: 0.9rem;"

                  >Electrical & Electronic Engineering</a
                >
                <a
                class="dept-dropdown-items drop"
                href="./mech.html"
                style="margin:0px !important;font-weight: 400 !important;text-decoration: none; display: block; padding: 8px 0 !important; font-size: 0.9rem;"

                  >Mechanical Engineering</a
                >
                <a
                class="dept-dropdown-items drop"
                href="./civil.html"
                style="margin:0px !important;font-weight: 400 !important;text-decoration: none; display: block; padding: 8px 0 !important; font-size: 0.9rem;"

                  >Civil Engineering</a
                ><a
                class="dept-dropdown-items drop"
                href="./bsh.html"
                style="margin:0px !important;font-weight: 400 !important;text-decoration: none; display: block; padding: 8px 0 !important; font-size: 0.9rem;"

                  >Basic Science Humanities</a
                >
                <a
                class="dept-dropdown-items drop"
                href="./mba.html"
                style="margin:0px !important;font-weight: 400 !important;text-decoration: none; display: block; padding: 8px 0 !important; font-size: 0.9rem;"

                  >Masters in Business Administration</a
                >
              </div>
            </div>
          </div>
            <div
              class="col-6 col-md-4 text-center"
              style="border: 1px solid grey; box-sizing: border-box"
            >
              <div class="small-navbar-nav-item p-2">
                <a
                  class="small-navbar-items-last-div-anchor active"
                  aria-current="page"
                  href="../academics.html"
                  style="color: #000000; font-weight: bold !important"
                  >Academics</a
                >
              </div>
            </div>
            <div
              class="col-6 col-md-4 text-center"
              style="border: 1px solid grey; box-sizing: border-box"
            >
              <div class="small-navbar-nav-item p-2">
                <a
                  class="small-navbar-items-last-div-anchor active"
                  aria-current="page"
                  href="../placements.html"
                  style="color: #000000; font-weight: bold !important"
                  >Placements</a
                >
              </div>
            </div>
          </div>
        </div>
        <div
          class="small-navbar-last-div-navbar p-2"
          style="
            border: 1px solid grey;
            border-bottom-width: 1px;
            border-top-width: 0px;
          "
        >
          <p class="text-center" style="font-weight: bold">Information for:</p>
          <div class="small-navbar-items-last-div-element p-0">
            <a
              class="p-2 small-navbar-items-last-div-anchor"
              href="../V_Grivence.html"
              >V Grievance</a
            >
            <a
              class="p-2 small-navbar-items-last-div-anchor"
              href="../NAAC.html"
              >NAAC
            </a>

            <a class="p-2 small-navbar-items-last-div-anchor" href="../r&d.html"
              >R & D</a
            >
            
           
            <a
              class="p-2 small-navbar-items-last-div-anchor"
              href="../category-b.html"
              >Category B</a
            >
            <a
              class="p-2 small-navbar-items-last-div-anchor"
              href="../campusLife.html"
              >Campus Life</a>
              <a
              class="p-2 small-navbar-items-last-div-anchor"
              href="../mandates.html"
              >Mandates</a
            >
            
            <a>
              <div class="dropdown">
                <a
                  class="btn dropdown-toggle"
                  style="border-style: none; box-shadow: none"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  UGC
                </a>

                <ul class="dropdown-menu">
                  <li>
                    <a
                      class="dropdown-item mobile-view-information-ugc dropdown-item-content"
                      href="#"
                      >Academic Council</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item mobile-view-information-ugc dropdown-item-content"
                      href="http://srivasaviengg.ac.in/uploads/List%20of%20Board%20of%20Studies_2021_22.pdf"
                      >Board of Studies</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item mobile-view-information-ugc dropdown-item-content"
                      href="http://srivasaviengg.ac.in/Finance_Committee_2021_2022.png"
                      >Finance Committee</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item mobile-view-information-ugc dropdown-item-content"
                      href="http://srivasaviengg.ac.in/uploads/iqac_members_2021_2022.png"
                      >IQAC</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item mobile-view-information-ugc dropdown-item-content"
                      href="http://srivasaviengg.ac.in/uploads/College%20Level%20Committees%202021-22.pdf"
                      >Non Statustory Committe</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item mobile-view-information-ugc dropdown-item-content"
                      href="http://srivasaviengg.ac.in/uploads/fee.png"
                      >Fee Structure</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item mobile-view-information-ugc dropdown-item-content"
                      href="http://srivasaviengg.ac.in/uploads/Undertaking_2021_2022.jpg"
                      >Undertaking</a
                    >
                  </li>
                </ul>
              </div>
            </a>
            <a>
              <div class="dropdown">
                <a
                  class="btn dropdown-toggle"
                  style="border-style: none; box-shadow: none"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  NIRF
                </a>

                <ul class="dropdown-menu small-navbar-items-last-div-anchor">
                  <li>
                    <a
                      class="dropdown-item dept-dropdown-items dropdown-item-content"
                      href="https://srivasaviengg.ac.in/uploads/nirf_files/NIRF%202024%20Overall%2030-01-2024.pdf"
                      >SVEC-Overall Category NIRF</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item dept-dropdown-items dropdown-item-content"
                      href="https://srivasaviengg.ac.in/uploads/nirf_files/NIRF%202024%20Engg%2029-01-2024.pdf"
                      >SVEC-Engineering Category NIRF</a
                    >
                  </li>
                </ul>
              </div>
            </a>
            <a>
              <div class="dropdown">
                <a
                  class="btn dropdown-toggle"
                  style="border-style: none; box-shadow: none"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Other Links
                </a>

                <ul class="dropdown-menu">
                  <li>
                    <a
                      class="dropdown-item dept-dropdown-items dropdown-item-content"
                      href="../facultyAchivements.html"
                      >Faculty Achivements</a
                    >
                  </li>
                   <li>
                <a
                  class="dropdown-item dept-dropdown-items dropdown-item-content"
                  href="./facultyAchivements.html"
                  >Faculty Achievements</a
                >
              </li>
                  <li>
                    <a
                      class="dropdown-item dropdown-item-content mobile-view-information-ugc"
                      href="https://srivasaviengg.ac.in/uploads/Anti%20Ragging%20Committee%202023-4.pdf"
                      >Anti Ragging Committe</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item dropdown-item-content mobile-view-information-ugc"
                      href="https://srivasaviengg.ac.in/uploads/Internal%20Compliants%20Committee%202023-24.pdf"
                      >Internal Complaints Committe</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item dropdown-item-content mobile-view-information-ugc"
                      href="https://srivasaviengg.ac.in/uploads/SC%20ST%20Welfare%20Committee%202023-24.pdf"
                      >SC/ST Welfare Committe</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item dropdown-item-content mobile-view-information-ugc"
                      href="https://srivasaviengg.ac.in/uploads/INSTITUTION-INDUSTRY%20CELL%202023-24.pdf"
                      >Institute Industry Cell</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item dropdown-item-content mobile-view-information-ugc"
                      href="https://srivasaviengg.ac.in/uploads/College%20Level%20Committees%20Details.pdf"
                      >Other Important Committe</a
                    >
                  </li>
                  <!-- <li><a class="dropdown-item dropdown-item-content mobile-view-information-ugc" href="#">BOS Awards</a></li> -->
                  <li>
                    <a
                      class="dropdown-item dropdown-item-content mobile-view-information-ugc"
                      href="../alumni_engagement.html"
                      >Alumni Engagement</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item dropdown-item-content mobile-view-information-ugc"
                      href="https://entrepreneurialquest.netlify.app"
                      >Entrepreneurial Quest</a
                    >
                  </li>
                </ul>
              </div>
            </a>
            <a
              href="../about_us.html"
              class="p-2 small-navbar-items-last-div-anchor"
              >About Us</a
            >
          </div>
        </div>
      </div>
      <div class="bg-white code-items" style="text-align: center">
        <p style="margin-bottom: 0">
          EAPCET/ECET/ICET/PGCET/POLYCET code:
          <span style="font-weight: bold">VSVT</span>
        </p>
      </div>
    </div>
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
    <script src="./header.js"></script>
  </body>
</html>