<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="./footer.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/js/ccbp-ui-kit.js"
    ></script>
  </head>

  <body>
    <footer class="bg-dark text-light pt-5">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-3 pt-4">

            <p style="font-size: 16px; opacity: 0.8; text-align: justify">
              Sri Vasavi Engineering College (SVEC) in West and East Godavari
              districts has maintained its values for 20+ years, nurturing over
              30,000 students and evolving from a small school to a
              distinguished engineering college.
            </p>
          </div>
          <div class="col-6 col-lg-3">
            <h5>Quick Links</h5>
            <ul class="list-unstyled quicklinks">
              <li>
                <a
                  href="https://sves.org.in/ecap/olpaymentlogin.aspx"
                  style="text-decoration: none; color: inherit"
                  >Online Fee Payment</a
                >
              </li>
              <li>
                <a
                  href="https://sves.org.in/ecap/consultancyfee.aspx"
                  style="text-decoration: none; color: inherit"
                  >Consultant Fee</a
                >
              </li>
              <li>
                <a
                  href="../hostel.html"
                  style="text-decoration: none; color: inherit"
                  >Hostels</a
                >
              </li>
              <li>
                <a
                  href="../sports.html"
                  style="text-decoration: none; color: inherit"
                  >Sports <br />Facililties</a
                >
              </li>
              <li>
                <a href="../transport.html" style="text-decoration: none; color: inherit"
                  >Transport</a
                >
              </li>
            </ul>
          </div>
          <div class="col-6 col-lg-3">
            <h5>Useful Links</h5>
            <ul class="list-unstyled quicklinks">
              <li>
                <a
                  href="../../index.html"
                  style="text-decoration: none; color: inherit"
                  >Home</a
                >
              </li>
              <li>
                <a href="#" style="text-decoration: none; color: inherit"
                  >Administration</a
                >
              </li>
              <li>
                <a
                  href="../academics.html"
                  style="text-decoration: none; color: inherit"
                  >Academics</a
                >
              </li>
              <li>
                <a
                  href="../campusLife.html"
                  style="text-decoration: none; color: inherit"
                  >Campus Life</a
                >
              </li>
              <li>
                <a
                  href="https://sves.org.in/ecap/"
                  style="text-decoration: none; color: inherit"
                  >E-cap</a
                >
              </li>
            </ul>
          </div>
          <div class="col-12 col-lg-3">
            <h5>Connect with Us</h5>
            <ul class="list-unstyled social-icons">
              <li>
                <a
                  class="facebook"
                  href="https://www.facebook.com/profile.php?id=100067829822379"
                  style="text-decoration: none; color: inherit"
                  ><i class="fab fa-facebook" style="font-size: 24px"></i
                ></a>
              </li>
              <li>
                <a
                  style="text-decoration: none; color: inherit"
                  class="twitter"
                  href="https://twitter.com/svectpg"
                  target="twitter"
                  ><i class="fab fa-x-twitter" style="font-size: 24px"></i
                ></a>
              </li>
              <li>
                <a
                  style="text-decoration: none; color: inherit"
                  class="instagram"
                  href="https://www.instagram.com/gdsc.svec/"
                  target="instagram"
                  ><i class="fab fa-instagram" style="font-size: 24px"></i
                ></a>
              </li>
              <li>
                <a
                  class="linkedin"
                  href="https://www.linkedin.com/school/sri-vasavi/posts/?feedView=all"
                  style="text-decoration: none; color: inherit"
                  ><i class="fab fa-linkedin" style="font-size: 24px"></i
                ></a>
              </li>
              <li>
                <a
                  style="text-decoration: none; color: inherit"
                  class="youtube"
                  href="https://www.youtube.com/@GDSC_SVEC"
                  target="youtube"
                  ><i class="fab fa-youtube" style="font-size: 24px"></i
                ></a>
              </li>
            </ul>
            <h5>Contact Us</h5>
            <p class="d-none d-md-block address">
              Sri Vasavi Engineering College <br />
              Pedatadepalli,Tadepalligudem <br />534 101 West Godavari Dist.,
              <br />Andhra Pradesh.
            </p>

            <div class="d-none d-md-block">
              <span class="phone"
                ><i class="fas fa-phone" style="margin-right: 4px"></i
                >+91-8818284322 (9:30 AM-4:30 PM)</span
              >
              <span class="phone">
                <i class="fas fa-envelope" style="margin-right: 4px"> </i
                >principal@srivasaviengg.ac.in
              </span>
            </div>
            <p class="d-block d-md-none address address-small text-center">
              Sri Vasavi Engineering College Pedatadepalli,Tadepalligudem 534
              101 West Godavari Dist., Andhra Pradesh.
            </p>

            <div
              class="d-block d-md-none d-flex flex-row justify-content-between"
            >
              <span class="phone phone-small"
                ><i class="fas fa-phone" style="margin-right: 4px"></i
                >+91-8818284322 <br />(9:30 AM-4:30 PM)</span
              >
              <span class="phone phone-small">
                <i class="fas fa-envelope" style="margin-right: 4px"> </i
                ><a
                  href="mailto:principal@srivasaviengg.ac.in"
                  style="text-decoration: none; color: #ff5a2c !important"
                  >principal@srivasaviengg.ac.in</a
                >
              </span>
            </div>
          </div>
        </div>
      </div>
      <p style="text-align: center; opacity: 0.7" class="mb-0">
        A Mark By
        <a
          href="../webdevs.html"
          style="
            font-weight: 700;
            text-decoration: none;
            color: inherit;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
          "
        >
          <div style="word-spacing: 0.2rem">
            <span style="color: #4285f4; margin-right: 0.2rem">G</span>
            <span style="color: #34a853; margin-right: 0.2rem">D</span>
            <span style="color: #fbbc05; margin-right: 0.2rem">S</span>
            <span style="color: #ea4335; margin-right: 0.1rem">C</span>

            <span style="font-size: 2rem; font-weight: 800"> X </span>
            <span> S V E C</span>
          </div>
        </a>
      </p>
      <p style="text-align: center; opacity: 0.7; margin: 0">
        Copyright © 2025 Sri Vasavi Engineering College. All Rights Reserved.
      </p>
    </footer>
  </body>
</html>
