<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Principal</title>
    <link
      rel="icon"
      href="https://res.cloudinary.com/dqe4ld4cx/image/upload/v1693810335/SVEC_logo_dyjxrl.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/b2b9ab5ba1.js"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"
    ></script>

    <script>
      $(function () {
        $("#header").load("./header.html");
        $("#footer").load("./footer.html");
      });
    </script>
    <style>
      .body-container {
        margin-top: 5rem;
      }
      @media screen and (min-width: 768px) {
        .body-container {
          margin-top: 14rem;
        }
      }
      .name-bg {
        font-size: 1.3rem;
      }
      .email {
        text-decoration: none;
        color: #b1040e;
      }
      .email:hover {
        color: #b1040e;
      }
      .flip-horizontal {
        transform: rotateY(180deg);
        display: inline-block; /* Ensure the icon maintains its inline-block behavior */
      }
      .lead {
        text-align: center;
        font-size: 1rem !important;
      }
    </style>
  </head>

  <body>
    <div id="header"></div>
    <div class="body-container">
      <header class="bg-light text-center py-4">
        <h1 class="display-6 text-danger hover-underline-animation">
          <b>Our Principal</b>
        </h1>
      </header>

      <main class="container mt-5">
        <section class="row">
          <div class="col-lg-5">
            <div
              style="
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
              "
            >
              <img
                src="../../images/admin/principal.jpg"
                class="img-fluid rounded w-100"
                alt="Technical Director Image"
              />
              <h3 class="name-bg pt-2">Dr. Guduru VNSR Ratnakara Rao</h3>
              <a
                class="email"
                href="mailto:principal@srivasaviengg.ac.in"
                target="_blank"
              >
                principal@srivasaviengg.ac.in</a
              >
              <div class="social">
                <!-- <a href="#" class="btn btn-danger">
                <i class="bi bi-twitter"></i> Tweet
              </a> -->

                <!-- Email Button -->
                <!-- <a href="mailto:recipient@example.com" class="btn btn-danger ms-2">
                    <i class="bi bi-envelope-fill"></i> Email
                </a>
         -->
                <!-- WhatsApp Button -->
                <!-- <a href="https://api.whatsapp.com/send?phone=123456789" class="btn btn-success ms-2" target="_blank">
                    <i class="bi bi-whatsapp"></i> WhatsApp
                </a> -->
              </div>
            </div>
          </div>
          <div class="col-lg-7 d-flex align-items-center">
            <div class="content-section">
              <h4 class="lead" style="line-height: 2rem">
                <em
                  ><i class="bi bi-quote"></i>At this institution, we are committed to nurturing not only minds but also hearts. Every student matters, and every lesson is a step toward a brighter future.<i
                    class="bi bi-quote flip-horizontal"
                  ></i
                ></em>
              </h4>
            </div>
          </div>
        </section>
      </main>
      <div class="container mt-4 text-center">
        <div class="title">
          <h1 class="hover-underline-animation">Principal Profile</h1>
        </div>
        <div class="content">
          <p class="lead" style="text-align: justify">
            Dr. Guduru VNSR Ratnakara Rao holds a Master’s degree in Mechanical Engineering from Gulbarga University and a Doctorate from JNTU Hyderabad. He began his teaching career in Chennai and went on to serve BVC Engineering College, Odalarevu, Andhra Pradesh, for nearly a decade, rising through the ranks from Assistant Professor to Professor.<br/><br/>
            Between 2011 and 2013, he held the position of Principal at both the Praveenya Institute of Marine Engineering and Maritime Studies, Visakhapatnam, and the Bhimavaram Institute of Engineering Technology, Bhimavaram.<br/><br/>
In 2013, Dr. Ratnakara Rao joined Sri Vasavi Engineering College, Tadepalligudem, as Professor and Head of the Department of Mechanical Engineering. Since 2015, he has served as Dean of Academic Affairs, playing a key role in shaping the college’s academic and administrative landscape. A dedicated academician and researcher, he is a member of prestigious professional bodies like ISTE and IE, and has contributed scholarly work to internationally reputed journals.<br/><br/>
As the NBA Accreditation Coordinator, Dr. Ratnakara Rao was instrumental in achieving accreditation for the institution. He pioneered the adoption of Outcome-Based Education (OBE) at the college and has been a driving force in its successful implementation.<br/><br/>
In June 2018, he was appointed Principal of Sri Vasavi Engineering College, and under his visionary leadership, the college continues its pursuit of academic distinction and holistic development.<br/><br/>
            For professional correspondence, Dr. Ratnakara Rao can be contacted at 
            <span style="font-weight: bold">principal@srivasaviengg.ac.in</span
            >.
            <br />
            <br />
          </p>
        </div>
      </div>
    </div>

    <div id="footer"></div>
  </body>
</html>