<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>GDSC x SVEC</title>
    <link
      rel="icon"
      href="https://res.cloudinary.com/dqe4ld4cx/image/upload/v1693810335/SVEC_logo_dyjxrl.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../css/webdevs.css" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"
    ></script>
    <!-- Include Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <!-- Fontawesome CDN Link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      $(function () {
        $("#header").load("./header.html");
        $("#footer").load("./footer.html");
      });
    </script>
    <script>
        // Disable right-click
        document.addEventListener('contextmenu', function(e) {
            e.preventDefault();
        });

        // Disable keyboard shortcuts
        document.addEventListener('keydown', function(e) {
            // Prevent Ctrl+U
            if (e.ctrlKey && e.keyCode == 85) {
                e.preventDefault();
                return false;
            }
            // Prevent Ctrl+S
            if (e.ctrlKey && e.keyCode == 83) {
                e.preventDefault();
                return false;
            }
            // Prevent Ctrl+Shift+I
            if (e.ctrlKey && e.shiftKey && e.keyCode == 73) {
                e.preventDefault();
                return false;
            }
            // Prevent F12
            if (e.keyCode == 123) {
                e.preventDefault();
                return false;
            }
        });
          // Disable right-click
  document.addEventListener('contextmenu', (e) => e.preventDefault());

  // Disable keyboard shortcuts
  document.addEventListener('keydown', (e) => {
    if (
      (e.ctrlKey && (e.key === 'c' || e.key === 'C' || e.key === 'u' || e.key === 'U' || e.key === 's' || e.key === 'S')) ||
      (e.key === 'F12') ||
      (e.ctrlKey && e.shiftKey && (e.key === 'i' || e.key === 'I'))
    ) {
      e.preventDefault();
    }
  });

  // Disable print screen
  document.addEventListener('keyup', (e) => {
    if (e.key === 'PrintScreen') {
      navigator.clipboard.writeText('');
    }
  });

  // Clear clipboard on page load
  window.addEventListener('load', () => {
    navigator.clipboard.writeText('');
  });
    </script>

    <style>
        /* Prevent text selection */
      
  body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
  }

  img {
    pointer-events: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }
    </style>

    <style>
      a {
        text-decoration: none !important;
        color: black;
      }
      .name i {
        color: #b1040e;
      }
      .content {
        margin-top: 6rem;
      }
      @media screen and (min-width: 768px) {
        .content {
          margin-top: 9rem;
        }
      }
    </style>
  </head>

  <body>
    <div id="header"></div>
    <div class="content">
      <h1 class="text-center mt-5 display-3 fw-bold">
        Mission <span class="theme-text">Red Letter</span>
      </h1>
      <hr class="mx-auto w-25" />
      <div class="container" align="center">
        <div class="row">
          <div class="col-12">
            <p>
              The pioneering chapter of the Google Developer Student Clubs,
              established in 2023, set out with a vision to transform the tech
              community. Central to this endeavor was the initiation of Mission
              Red Letter, a notable project by Team GDSC, aimed at revitalizing
              their college. Their inaugural mission was the overhaul of the
              college's antiquated website, which had endured for ages. This
              marked the team's first unified tribute to the institution and a
              significant step in their broader objective of technological
              advancement.
            </p>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card">
              <div class="img">
                <img src="../images/webdevs/Mahesh.jpeg" alt="" />
              </div>
              <div class="name">
                <span style="color: black">Mahesh Murari</span>
                <a
                  href="https://www.linkedin.com/in/mahesh-murari-526ab622a/"
                  target="_blank"
                >
                  <i class="fa-brands fa-linkedin" style="color: #0072b1"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card">
              <div class="img">
                <img src="../images/webdevs/Vikas.jpg" alt="" />
              </div>
              <div class="name">
                <span style="color: black">Vikas</span>
                <a
                  href="https://www.linkedin.com/in/vikas-kumar-koppoju-99b540208/"
                  target="_blank"
                  ><i class="fa-brands fa-linkedin" style="color: #0072b1"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card">
              <div class="img">
                <img src="../images/webdevs/Umar.jpeg" alt="" />
              </div>
              <div class="name">
                <span style="color: black">Syed Umar </span>
                <a
                  href="https://www.linkedin.com/in/syedumarkalimulla/"
                  target="_blank"
                >
                  <i class="fa-brands fa-linkedin" style="color: #0072b1"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card">
              <div class="img">
                <img src="../images/webdevs/Mohan.jpeg" alt="" />
              </div>
              <div class="name">
                <span style="color: black">Mohan</span>
                <a
                  href="https://www.linkedin.com/in/mohan-satya-prasad-kadali-107304248/"
                  target="_blank"
                >
                  <i class="fa-brands fa-linkedin" style="color: #0072b1"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card">
              <div class="img">
                <img src="../images/webdevs/Rajesh.jpeg" alt="" />
              </div>
              <div class="name">
                <span style="color: black">Rajesh</span>
                <a
                  href="https://www.linkedin.com/in/rajeshpasupuleti39/"
                  target="_blank"
                >
                  <i class="fa-brands fa-linkedin" style="color: #0072b1"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card">
              <div class="img">
                <img src="../images/webdevs/Datta.jpeg" alt="" />
              </div>
              <div class="name">
                <span style="color: black">Datta Sai</span>
                <a
                  href="https://www.linkedin.com/in/datta-sai-moganti/"
                  target="_blank"
                >
                  <i class="fa-brands fa-linkedin" style="color: #0072b1"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card">
              <div class="img">
                <img src="../images/webdevs/Aswanth.jpeg" alt="" />
              </div>
              <div class="name">
                <span style="color: black">Aswanth Allu</span>
                <a
                  href="https://www.linkedin.com/in/jaya-aswanth-allu/"
                  target="_blank"
                >
                  <i class="fa-brands fa-linkedin" style="color: #0072b1"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card">
              <div class="img">
                <img src="../images/webdevs/phani_varma.jpeg" alt="" />
              </div>
              <div class="name">
                <span style="color: black">Phani Varma</span>
                <a
                  href="https://www.linkedin.com/in/phani-varma-9863842b6/"
                  target="_blank"
                >
                  <i class="fa-brands fa-linkedin" style="color: #0072b1"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card">
              <div class="img">
                <img src="../images/webdevs/phani_kumar.jpeg" alt="" />
              </div>
              <div class="name">
                <span style="color: black">Phani Kumar</span>
                <a
                  href="https://www.linkedin.com/in/phanikumarbathina?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                  target="_blank"
                >
                  <i class="fa-brands fa-linkedin" style="color: #0072b1"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card">
              <div class="img">
                <img src="../images/webdevs/madan.jpeg" alt="" />
              </div>
              <div class="name">
                <span style="color: black">Madan</span>
                <a
                  href="https://www.linkedin.com/in/madhanpanja?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                  target="_blank"
                >
                  <i class="fa-brands fa-linkedin" style="color: #0072b1"></i
                ></a>
              </div>
            </div>
          </div>
         
          <div class="col-lg-4 col-md-6">
            <div class="card">
              <div class="img">
                <img src="../images/webdevs/Jyothsna.jpeg" alt="" />
              </div>
              <div class="name">
                <span style="color: black">Jyothsna</span>
                <a
                  href="https://www.linkedin.com/in/jyothsna-rani-615338252/"
                  target="_blank"
                >
                  <i class="fa-brands fa-linkedin" style="color: #0072b1"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card">
              <div class="img">
                <img src="../images/webdevs/Subhan.jpeg" alt="" />
              </div>
              <div class="name">
                <span style="color: black">Subhan</span>
                <a
                  href="https://www.linkedin.com/in/subhan-saheb-shaik/"
                  target="_blank"
                >
                  <i class="fa-brands fa-linkedin" style="color: #0072b1"></i
                ></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="card">
              <div class="img">
                <img src="../images/webdevs/Teja.jpeg" alt="" />
              </div>
              <div class="name">
                <span style="color: black">Tejaswini</span>
                <a
                  href="https://www.linkedin.com/in/sathi-tejaswini-6365a924a/"
                  target="_blank"
                >
                  <i class="fa-brands fa-linkedin" style="color: #0072b1"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card">
              <div class="img">
                <img src="../images/webdevs/Satya.jpeg" alt="" />
              </div>
              <div class="name">
                <span style="color: black">Sri Satya</span>
                <a
                  href="https://www.linkedin.com/in/sri-satya-satti-95291b244/"
                  target="_blank"
                >
                  <i class="fa-brands fa-linkedin" style="color: #0072b1"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card">
              <div class="img">
                <img src="../images/webdevs/Midhun.jpeg" alt="" />
              </div>

              <div class="name">
                <span style="color: black">Midhun</span>
                <a
                  href="https://www.linkedin.com/in/midhun-sri-sai-kanamarlapudi-6aaab2225"
                  target="_blank"
                >
                  <i class="fa-brands fa-linkedin" style="color: #0072b1"></i
                ></a>
              </div>
            </div>
          </div>
         
          <div class="col-lg-4 col-md-6">
            <div class="card">
              <div class="img">
                <img src="../images/webdevs/Meghana.jpeg" alt="" />
              </div>
              <div class="name">
                <span style="color: black">Meghana</span>
                <a
                  href="https://www.linkedin.com/in/mandameghana133"
                  target="_blank"
                >
                  <i class="fa-brands fa-linkedin" style="color: #0072b1"></i
                ></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="card">
              <div class="img">
                <img src="../images/webdevs/satya_pavan.jpeg" alt="" />
              </div>
              <div class="name">
                <span style="color: black">Satya Pavan</span>
                <a
                  href="https://www.linkedin.com/in/satya-pavan-jupudi-8b63a4235/"
                  target="_blank"
                >
                  <i class="fa-brands fa-linkedin" style="color: #0072b1"></i
                ></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="card">
              <div class="img">
                <img src="../images/webdevs/pujith.jpeg" alt="" />
              </div>
              <div class="name">
                <span style="color: black">Pujith</span>
                <a
                  href="https://www.linkedin.com/in/pujith-paida-0123b3219"
                  target="_blank"
                >
                  <i class="fa-brands fa-linkedin" style="color: #0072b1"></i
                ></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="card">
              <div class="img">
                <img src="../images/webdevs/Karthik.jpeg" alt="" />
              </div>
              <div class="name">
                <span style="color: black">Karthik</span>
                <a
                  href="https://www.linkedin.com/in/karthik-samana-411934246"
                  target="_blank"
                >
                  <i class="fa-brands fa-linkedin" style="color: #0072b1"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer"></div>
  </body>
</html>