*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.glow {
  font-size: 20px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 3px #ff4d4d, 0 0 4px #ff4d59, 0 0 5px #ff4d6b, 0 0 6px #ff4d53, 0 0 7px #ff4d59;
  }
  
  to {
    text-shadow: 0 0 3px #fff, 0 0 3px #e12727, 0 0 4px #dd2e2e, 0 0 5px #e53232, 0 0 6px #ff4d4d, 0 0 7px #ff4d4d, 0 0 8px #ed2525;
  }
}


.container1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.chart1{
    border: 1px solid black;
    background-color: white;
    border-radius: 1rem;
    box-shadow:0 0 16px rgb(235, 224, 224);
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    color: black;
    padding: 30px;
    margin: 50px;
    width: max-content;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
td:hover{
    color:white;
    background-color: darkred;
    transform: scale(1.1);
    cursor: pointer;
  }
  th:hover{
    transform: scale(1.2);
    cursor: pointer;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  body {
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
  }
  .top {
    text-align: center;
    padding: 10px;
  }
  .intro {
    min-height: calc(100vh * 0.8);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: justify;
    flex-direction: row;
    margin: 0px;
  }
  .intro p {
    width: 50%;
  }
  .team {
    width: 80%;
    background-color: #f3f6fb;
    align-items: center;
  }
  .team:hover {

    transition: 0.3s;
  }
  .message {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    text-align: justify;
    padding: 20px;
  }
  .message img {
    height: calc(0.15 * 100vw);
    width: calc(0.15 * 100vw);
    margin: 0px 10px 10px 10px;
  }
  .message p {
    max-width: 98%;
    padding: 10px;
    margin: 10px;
  }
  .team-members {
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .team-mate {
    max-width: 30vw;
    display: flex;
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    color: black;
  }
  .team-mate:hover{
    border: 1px solid black;
    transform: scale(1.02);
  }
  .team-mate img {
    height: 10vw;
    width: 10vw;
  }
  .companies {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    background-color: #f3f6fb;
  }
  .photos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:95%;
    background-color: darkred;
    display: inline;
  }
  .companies:hover {
    transition: 0.3s;
  }
  .company-icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .company-icon {
    height: 10vw;
    width: 10vw;
    padding: 10px;
    margin: 10px;
    background-color: white;
  }
  .statistics {
    width: 100%;
    background-color: #f3f6fb;
    margin: 10px;
    padding: 10px;
    text-align: center;
  }
  .student-words {
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: #f3f6fb;
  }
  .student-words:hover {

    transition: 0.3s;
  }
  .words {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }
  .word {
    width: 40vw;
    display: flex;
    box-shadow: 1px 0px 2px 0px black;
    border-radius: 10px;
    text-align: justify;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 20px;
    margin: 10px;
  }
  .word img {
    height: 15vw;
    width: 15vw;
    padding: 10px;
  }
  .word p {
    width: 30vw;
  }

  .wordcloud-container{
    max-width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #wordcloud{
    max-width: 98%;
  }

  #video-container{
    max-width: 100vw;
    overflow: hidden;
  }
  @media screen and (max-width: 900px) {
    .intro {
      flex-direction: column-reverse;
    }
    .intro p {
      width: 80%;
    }
    .message {
      flex-direction: column;
    }
    .message img {
      height: calc(0.25 * 100vw);
      width: calc(0.25 * 100vw);
    }
    .message p {
      width: 90vw;
    }
    .team-mate {
      max-width: 90vw;
    }
    .company-icon {
      height: 15vw;
      width: 15vw;
    }
    .word {
      width: 80vw;
      flex-direction: column;
      padding: 20px;
    }
    .word p {
      width: 70vw;
      padding: 10px;
      margin: 10px;
    }
    .word img {
      height: 35vw;
      width: 35vw;
    }
    .container1{
      flex-direction: column;
      gap: 20px;
    }
  }
  .p2023-2024 {
    width: 80%;
    background-color: #f3f6fb;
    align-items: center;
  }
  .p2023-2024:hover {

    transition: 0.3s;
  }
  .p2022-2023 {
    width: 80%;
    background-color: #f3f6fb;
    align-items: center;
    }

  #wordcloud {
    width: 1000px;
    height: 500px;
    margin: 0;
    padding: 0;
  }
  div {
    margin: 10px;
  }

  .details-example{
    max-width: 100%;
    margin: 0px;
    padding: 0px;
  }

  details > summary:hover {
    background-color: darkred;
    color: white;
    transition: 2s;
  }
details > summary{
  height: 50px;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
}

:root {
  --primary: #ec994b;
  --white: #ffffff;
  --bg: #f5f5f5;
}


@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}


.container {
  max-width: 124rem;
  margin: 0 auto;
  background-color: darkred;
}

.text-center {
  text-align: center;
}

.section-heading {
  font-size: 3rem;
  color: var(--primary);
  padding: 2rem 0;
}

#tranding {
  padding: 4rem 0;
}

@media (max-width: 1440px) {
  #tranding {
    padding: 7rem 0;
  }
}

#tranding .tranding-slider {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

@media (max-width: 500px) {
  #tranding .tranding-slider {
    height: 45rem;
  }
}

.tranding-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}

@media (max-width: 500px) {
  .tranding-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .tranding-slide .tranding-slide-img img {
    width: 28rem !important;
    height: 36rem !important;
  }
}
.tranding-slide .tranding-slide-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.tranding-slide .tranding-slide-img img {
  width: 900px;
  height: 700px;
  border-radius: 2rem;
  object-fit: contain;
}

.tranding-slide .tranding-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.tranding-slide-content .food-price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--white);
}

.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--white);
}

.food-rating {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}

.rating ion-icon {
  color: var(--primary);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.tranding-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: "";
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 0rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control
  .swiper-pagination
  .swiper-pagination-bullet-active {
  background: var(--primary);
}